@model _1274_RECUITE.Models.Recruite


@{
    ViewBag.Title = "User Registration";

}
@using (Html.BeginForm("SubmitForm","Index","PhoneNumber"))
{


    <h1 class="rightToLeft">@ViewBag.error </h1>
    <div class="rightToLeft">
        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="  height: 55% ">
                    <img class="rightToLeft card-img-top" src="~/Content/images/header.png" asp-append-version="true" />

                    @*<div class="col cornerImage">*@

                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" style="margin-right: 4%; margin-top:5%;">
                    <h2 class="rightToLeft" style="color:rgb(0, 157, 148);"> הזן מספר טלפון של לקוח</h2>

                    <br />
                    <h4 class="dialogBox rightToLeft">@ViewBag.SubmitMessage</h4>
                    <br />
 
                    <div asp-validation-summary="All" class="text-danger rightToLeft"></div>
                    <br />
                    <br />
                    <div class="form-group">
                        @Html.TextBoxFor(model=>model.PhoneNumber, new { @class = "rightToLeft" ,@style= "clear: both;"})


                    </div>
                    <br />
                    <br />
                    <div>
                        <input type="submit" value="שלח" class = "btn btn-primary"/>
                    
                    </div>



                </div>


            </div>
        </div>
    </div>

}