<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    @{
        ViewBag.Title = "Error";
    }
    <div style="float:right; clear:both;">
        <h1 class="text-danger" >  שגיאה </h1>
      
    </div>
    
    <div style="float:right; clear:both;">


        <h1 class="text-danger" >@ViewBag.Error</h1>
    </div>
</body>
</html>
